@import "../../../assets/variables.scss";

.side-nav {
  width: 100%;
  position: fixed;
  top: 64px;
  bottom: 0;
  left: 0;
  border-right: 1px solid #dbdbdb;
  @media (max-width: $mq-mobile) {
    top: 56px;
  }
}

.mat-sidenav {
  min-width: 260px;
  background-color: #f2f2f2;
}
