<mat-toolbar color="primary">
  <button
    class="toggle-menu"
    mat-icon-button
    aria-label="メニューを開閉"
    (click)="sidenav.toggle()"
  >
    <mat-icon>menu</mat-icon>
  </button>
  <span>Angular 勉強会</span>
</mat-toolbar>
<mat-sidenav-container class="side-nav">
  <mat-sidenav
    #sidenav
    mode="side"
    [mode]="responsive ? 'side' : 'over'"
    opened="{{ responsive }}"
  >
    <app-nav-list></app-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>
