.page-wrap {
    align-items: baseline;
    display: flex;
    margin: 0 auto;
    justify-content: center;
}
.media-content {
    max-width: 768px;
    padding: 0 20px;
    margin: 0 auto;
}
.media-content-heading {
    font-size: 40px;
    font-weight: bold;
}
.media-content-body {
    margin-top: 60px;
    ::ng-deep {
        * {
            line-height: 1.7;
        }
        h2 {
            font-size: 24px;
            font-weight: bold;
            margin: 1em 0;
        }
        h3 {
            font-size: 20px;
            font-weight: bold;
            margin: 1em 0;
        }
        p {
            margin: 1em 0;
        }
        code {
            border: 1px solid #ddd;
            background-color: #fff;
            color: #ff357f;
            margin: 0 2px;
            padding: 2px 4px;
            border-radius: 4px;
        }
        blockquote {
            background-color: #efefef;
            margin: 1em 0;
            padding: 1em;
            border-radius: 4px;
        }
        pre {
            margin: 1em 0;
            background-color: #23241f;
            color: #f8f8f2;
            white-space: pre-wrap;
            margin-bottom: 5px;
            margin-top: 5px;
            padding: 5px 10px;
            border-radius: 4px;
            overflow-x: auto;
            code {
                border: 0px;
                background-color: transparent;
                color: #ffffff;
            }
        }
        ul {
            margin: 1em 0;
            li {
                &::before {
                    content: "・";
                }
            }
        }
        ol {
            margin: 1em 0;
            counter-reset: number 0;
            li {
                &::before {
                    counter-increment: number 1;
                    content: counter(number) ". ";
                }
            }
        }
        a {
            margin: 1em 0;
            color: #1a0dab;
        }
    }
}


