$custom-primary: (
  50: #e8f5ff,
  100: #c5e5ff,
  200: #9fd4ff,
  300: #78c2ff,
  400: #5bb5ff,
  500: #3ea8ff,
  600: #38a0ff,
  700: #3097ff,
  800: #288dff,
  900: #1b7dff,
  A100: #ffffff,
  A200: #ffffff,
  A400: #cce0ff,
  A700: #b3d1ff,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);
